---
layout: default
support: [jquery, gallery]
---

<main id="main" class="main-content" aria-label="Content">

<article class="h-entry">

		<!--	{% include page-image.html %}-->
		<div class="page-wrapper">
      <header class="page-header">
		{% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}

	  {% if entry.image.thumbnail %}
      {% assign entry_image = entry.image.thumbnail %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <img class="entry-image u-photo" src="{{ entry_image }}" alt="">
    {% endif %}


	  </header>
      <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
      </div>

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
	</div>
</article>

</main>

